/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
@font-face {
    font-family: 'Almendra';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url("../webfonts/AlmendraSC-Regular.ttf")
}

:root {
    /* Not my favorite that line-height has to be united, but needed */
    --lh: 1rem;
    --max-lines: 3;
}

body, button, input, select, textarea, h1, h2, h3, h4, h5, h6 {
    font-family: Tahoma;
}

.news-item {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 200px;
    height: 150px;
}

.news-item:hover {
        cursor: pointer;
 }


.news-item-title {
    display:block;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1em;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.news-item-date {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: block;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 0.7em;
    color: rgba(255, 255, 255, 0.4);
    overflow: hidden;
}

.news-item-text-wrapper {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 1em;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-top: 5px;
    padding-bottom: 5px;
}




.news-item-text {
    display: block;
    width: 100%;
    padding-left: 10px;
    padding-right: 5px;
    font-size: 0.85em;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-line;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: var(--lh);
    max-height: calc(var(--lh) * var(--max-lines));
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}




.server-status-on {
    background: rgb(0,136,35);
    background: linear-gradient(0deg, rgba(0,136,35,1) 0%, rgba(68,222,83,1) 35%, rgba(3,196,43,1) 100%);
}

.server-status-off {
    background: rgb(136,0,0);
    background: linear-gradient(0deg, rgba(136,0,0,1) 0%, rgba(222,68,68,1) 35%, rgba(196,3,3,1) 100%);
}


a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

#mainContent {
    margin-top:-80px;
}

#header-image-content {
    max-width:900px;
}

.start-btn {
    width: 200px;
    background: rgb(45,125,50);
    background: linear-gradient(0deg, rgba(45,125,50,1) 0%, rgba(54,162,64,1) 35%, rgba(27,214,67,1) 100%);
    color: #fff;
    -webkit-box-shadow: 1px 13px 42px 6px #14530D;
    box-shadow: 1px 13px 42px 6px #14530D;
}

    .start-btn:hover {
        background: rgb(45,125,50);
        background: linear-gradient(0deg, rgba(45,125,50,1) 0%, rgba(59,205,73,1) 35%, rgba(27,214,67,1) 100%);
        color: #fff;
        -webkit-box-shadow: 1px 13px 42px 6px #14530D;
        box-shadow: 1px 13px 42px 6px #14530D;
    }

    .start-btn:focus {
        background: rgb(45,125,50);
        background: linear-gradient(0deg, rgba(45,125,50,1) 0%, rgba(54,162,64,1) 35%, rgba(27,214,67,1) 100%);
        color: #fff;
        -webkit-box-shadow: 1px 13px 42px 6px #14530D;
        box-shadow: 1px 13px 42px 6px #14530D;
    }

#server-name-big {
    font-size:4em;
    font-family:Almendra;
    text-shadow: 1px 3px 8px #000000;
}

.image-blur {
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

.text-shadow {
    text-shadow: 1px 2px 3px #000000;
}

.opacity {
    background-color: rgba(255,255,255,0.3);
}

.site-background-top {
    background-image: url('../images/ggg.jpg');
    height: 600px;
    max-height: 600px;
    min-height: 600px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-image {
    margin: auto;
    background-image: Url("../images/header-background.png");
    background-size: cover;
    width: 100%;
    height: 400px;
}

.customSelected {
    background-color: #3D454C;
    border-bottom: 2px solid #0080cb;
}

.customNotSelected:hover {
    background-color: #3D454C;
}

.customNotSelected {
    
}

.hv:hover {
    background-color: #3B434A !important;
    transition: background-color .2s;
    cursor: pointer;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

#mainContent {
    margin-left: auto;
    margin-right: auto;
}



@media (min-width: 1400px) {
    #mainContent {
        margin-top: -100px;
    }
}

@media (max-width: 1090px) {
    #mainContent {
        margin-top: -200px;
    }
}

    @media (max-width: 900px) {
        #mainContent {
            margin-top: -250px;
        }

        #mainContent {
            width: 90% !important;
        }

        #header-image-content {
            width: 90% !important;
        }

        #server-name-big {
            font-size: 3em;
        }
    }

    .border-top {
        border-top: 1px solid #e5e5e5;
    }

    .border-bottom {
        border-bottom: 1px solid #e5e5e5;
    }

    .box-shadow {
        box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
    }

    button.accept-policy {
        font-size: 1rem;
        line-height: inherit;
    }

    /* Sticky footer styles
-------------------------------------------------- */
    html {
        position: relative;
        min-height: 100%;
    }

    input {
        background-color: #6C757D !important;
        color: #E7E7E7 !important;
    }

    body {
        /* Margin bottom by footer height */
        background: #343A40;
        color: #E7E7E7;
    }

    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        white-space: nowrap;
        line-height: 60px; /* Vertically center the text there */
        background: #343A40;
    }
