@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - l2web</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/all.css" rel="stylesheet">


</head>
<body>

    <header class="bg-transparent">
        <nav class="navbar navbar-dark bg-dark navbar-expand-sm navbar-toggleable-sm">
            <div class="container">
                @if (SignInManager.IsSignedIn(User))
                {
                    <a class="navbar-brand" asp-area="" asp-controller="UserAccount" asp-action="Index"><img src="~/images/icon-light.png" width="30" /></a>
                }
                else
                {
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/icon-light.png" width="30" /></a>
                }

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-light customSelected" id="account-home" asp-area="" asp-controller="UserAccount" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item ml-1">
                                <a class="nav-link text-light customNotSelected" id="account-services" asp-area="" asp-controller="UserAccount" asp-action="Services">Services</a>
                            </li>


                        </ul>
                    }
                    else
                    {
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="About">About Server</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Files">Download</a>
                            </li>
                        </ul>
                    }
                </div>
            </div>
        </nav>
    </header>

    @if (!SignInManager.IsSignedIn(User))
    {
<div class="site-background-top">



    <div id="header-image-content" class="container" style="margin:auto;">

        <div class="row">
            <div class="col">
                <div class="row justify-content-start">


                    <small style="height:35px;" class="p-2 opacity rounded-bottom">  Online: 1480 </small>


                </div>
            </div>

            <div class="col-8">
                <div class="row justify-content-end">
                    <div style="height:35px;max-width:220px;" class="opacity rounded-bottom">
                        <div class="row justify-content-end pt-2 ml-2 mr-2">
                            <div class="rounded-circle server-status-off d-inline-block border border-dark" style="width:13px;height:13px;margin-top:3px;">

                            </div>
                            <small class="ml-1 align-middle  d-inline-block mr-4">Auth Server</small>


                            <div class="rounded-circle server-status-off d-inline-block border border-dark" style="width:13px;height:13px;margin-top:3px;">

                            </div>
                            <small class="ml-1 align-middle  d-inline-block">Game Server</small>
                        </div>

                    </div>


                </div>

            </div>
        </div>
        <div class="row justify-content-center mt-5" style="margin:auto;">
            <div>
                <p id="server-name-big">Server Name</p>
                <button class="btn btn-lg start-btn mt-3 d-block" style="margin:auto;">Start Game</button>
            </div>
            
        </div>
       
    </div>
</div>
        
        <div id="mainContent" class="container bg-dark p-3 shadow-lg box-shadow" style="z-index:100;max-width:900px !important;margin-bottom:130px;min-height:500px;">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    }
    else
    {
        <div class="container bg-dark">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    }



    <footer class="footer text-light">

        <div class="container">
            <div class="row">
                <div class="col">
                    &copy; 2021 - l2web
                </div>
                <div class="col text-right">
                    Created by<span class="text-info"> Giorgius </span>
                </div>
            </div>

        </div>

    </footer>

 
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>
